 /* body, ul, li, h1, h2, a{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}  */

/* body{
  font-family: Arial;
} */


/* p {
    font-size: 16px;
} */


html {
    scroll-padding-top: 2rem;
    /* font-family: Arimo, Helvetica, Arial;   */
    font-family: Georgia, sans-serif;  
}

header{
    background-color: #F63232;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    visibility: hidden;
}
/* .banner{
    position: relative;
 } */
 /* .banner div h2{ */
    /* margin: 0; */
 /* } */
/* .banner img{
    max-width: 100%;
} */
  .banner .welcome{
    background:#FEB614;
    color: white;
    padding: 1em;
    font-size: 20px;
    text-align: center;
    /* position: absolute; */
    /* left: 0; */
    /* top: 30%; */
} 

.banner .welcome span{
    font-size: 1.1em;
}



nav{
    background: #F4F4F4;
    /* padding: 0.1rem; */
    position: sticky;
    top: 0px;
    /* z-index: 1; */
  }
  nav ul{
    white-space: nowrap;
    /* max-width: 1200px; */
    margin: 0;
    text-align: center;
    padding: 6px;
  }
  nav li{
    width: 18%;
    display: inline-block;
    font-size: 16px;
  }
  nav li a{
    text-decoration: none;
    color: #4B4B4B;
  }
  nav li a:hover{
    text-decoration: underline;
  }
  nav li a.join{
    color: #F63232;
  }

/* Main section  */
main {
  line-height: 1.5em;
}
main td{
  padding-left: 2em;
}

section td{
  padding-left: 1em;
}
section h2{
  margin: 0;
}

section hr {
  margin: 0;
}

section hr {
  width:98%;
}

section {
  line-height: 1.6em;
}

section ol li{
  line-height: 1.4em;
  margin: 1em auto; 
}

/* Adding "J" 
section.publications ol {
  counter-reset: item;

}

section.publications li.journal {
  display: block; 
  margin-bottom: .5em;
  margin-left: 0em;
  line-height: 1.2em;
}

li.journal::before {
  display: inline-block;
  content: "[J" counter(item) "]";
  counter-increment: item;
  width: 0em;
  white-space: pre;
  text-indent: -2em;
}

li.journal:nth-of-type(n+10)::before {
  display: inline-block;
  content: "[J" counter(item) "]";
  counter-increment: item;
  width: 0.3em;
  white-space: pre;
  text-indent: -2em;

} */

/* ul, ol {
  padding-inline-start: 30px;
} */

/* responsive styles */
@media screen and (max-width: 800px){
  section.Research td {
    display:inline-block;
  }

}
@media screen and (max-width: 640px){
  main td {
    display:inline-block;
  }
  /* main article img{
    float: none;
  }
  .column_img{
    float:none;
  } */
  nav li{
    font-size: 14px;
  }

  .banner .welcome{
    font-size: 12px;
  }
}


@media screen and (max-width: 400px){
  main article img{
    float: none;
  }
  .column_img{
    float:none;
  }
  nav li{
    font-size: 12px;
  }

  .banner .welcome{
    font-size: 12px;
  }
}


#more {display: none;}