 /* body, ul, li, h1, h2, a{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}  */

body{
  font-family: Arial;
}


hr {
  margin: 0;
}
/* 
h2 {
  text-decoration: underline;}
   */
p {
    font-size: 16px;
}
section h2{
  margin: 0;
}
hr {
  width:98%;
}
html {
    scroll-padding-top: 3rem;
}

header{
    background-color: #F63232;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    visibility: hidden;
}
.banner{
    position: relative;
    margin: 0 0;
 }
 .banner div h2{
    margin: 0;
 }
.banner img{
    max-width: 100%;
}
  .banner .welcome{
    background:#FEB614;
    color: white;
    padding: 0px;
    font-size: 20px;
    text-align: center;
    /* position: absolute; */
    /* left: 0; */
    /* top: 30%; */
} 

.banner .welcome span{
    font-size: 1.1em;
}


nav{
    background: #F4F4F4;
    /* padding: 0.1rem; */
    position: sticky;
    top: 0px;
    /* z-index: 1; */
  }
  nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0;
    text-align: center;
    padding: 0;
  }
  nav li{
    width: 18%;
    display: inline-block;
    font-size: 16px;
  }
  nav li a{
    text-decoration: none;
    color: #4B4B4B;
  }
  nav li a:hover{
    text-decoration: underline;
  }
  nav li a.join{
    color: #F63232;
  }

  main article img{
      float: right;
  }

  .column_img{
      float: right;
      width: 50%;
  }
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

ul, ol {
  padding-inline-start: 30px;
}

/* responsive styles */

@media screen and (max-width: 640px){
  main article img{
    float: none;
  }
  .column_img{
    float:none;
  }
  nav li{
    font-size: 14px;
  }

  .banner .welcome{
    font-size: 12px;
  }
}


@media screen and (max-width: 400px){
  main article img{
    float: none;
  }
  .column_img{
    float:none;
  }
  nav li{
    font-size: 12px;
  }

  .banner .welcome{
    font-size: 10px;
  }
}